* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  margin: 0px;
}

.App-header {
  background-color: #222;
  height: 0px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

#root {
  height: 100%;
  margin: 0px;
}

.desc {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

.desc1 {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.desc3 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

.desc4 {
  letter-spacing: 0.2em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 1px 0 #2c2c2c, 0 2px 0 #2a2a2a,
    0 4px 0 #282828, 0 0px 0 #262626, 0 0px 0 #242424, 0 0px 0 #222,
    0 1px 0 #202020, 0 0px 0 #1e1e1e, 0 1px 0 #1c1c1c, 0 1px 0 #1a1a1a,
    0 0px 0 #181818, 0 2px 0 #161616, 0 1px 0 #141414, 0 0px 0 #121212,
    0 0px 0px rgba(0, 0, 0, 0.9);
}

section {
  color: green;
}

blockquote {

  border-left: none;
}

.project {
  display: flex;
  background: transparent !important;
  flex-flow: row wrap !important;
  flex: 0 0 100% !important;
  justify-content: flex end !important;

}

.projects {
  display: flex;
  flex: 0 0 100% !important;
  flex-flow: row wrap !important;

  justify-content:center;
  
}

.projects1 {
  display: flex;
  background: transparent !important;
  flex: row nowrap;
  flex: 0 0 100% !important;
}

.projects3 {
  display: flex;
  flex: 0 0 100% !important;
  flex: row wrap !important;
  justify-content: center;

}

.projects4 {
  display: flex;
    flex: 0 0 65% !important;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  





}

.homepageImage{
  flex: 0 0 100%;
}

.github-button {
  flex: 0 0 20%;
}

.projectheader {
  flex: 0 0 100%;
}
.description {
  flex: 0 0 100%;
  color: black;
  font-size: 20px;
  font-weight: 500;


}
.testing1 {
  background-image: url("./back5.jpg");
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 55px;
  padding-top: 0em;
  width: 100%;
}

.display-3 {

  flex: 0 0 100%;
}
li {
  margin-right: 0px;
}

img {
  margin-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  width: 100%;
}

.mPlayer {
  height: 575px;
}

.col-md-6 {
  padding: 15px;
}

section {
  /*margin-top: 0px;
padding: 0px;
margin: 0px;*/
}

.welcome {
  display: flex;
  flex: 0 0 100%;
  padding: 0px !important;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("./comp12.jpg");
justify-content: center;
  align-items: center;
  
  height: 100%;
}

.lead {
  font-weight: 350 !important;
  color: black !important;
}

.test {
  margin: 0px !important;
}

.alter {
  padding: 0px !important;
  margin: 0px !important;
}

.container {
  max-width: 100% !important;
}

.container1 {
  display: flex !important;
  flex: 0 0 100% !important;
  flex-flow: row nowrap !important;

  /*background-color: transparent !important;*/
  align-content: center;
}

.container2 {
  display: flex !important;
  flex-flow: row wrap !important;
  flex: 0 0 100% !important;
  
  justify-content: center;
  align-items: center;

}

.icon {
  flex: 0 0 30%;
  
}

.skills {

  flex: 0 0 100%;
}

.icons {

display: flex;
flex-flow: row wrap;
flex: 0 0 90%;
justify-content: center;
align-items: center;



}

.container3 {
  display: flex !important;
  flex: 0 0 100% !important;
  flex-flow: row nowrap !important;
}

.fontTest {
  flex: 0 0 30% !important;
  font-weight: 300 !important;
  color: white !important;
 
}

.my-modal {
  max-width: 100% !important;
  width: 0vw !important;
  padding-top: 0px;
  max-height: 100% !important;
  height: 10vw !important;
  margin: 0px !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
p {
  padding-top: 5px;
}

.navigate {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;
}
.anotherTest {
  background-image: url("./back5.jpg");
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 0px;
}

.restrict {
  display: flex !important;
  flex: 0 0 60% !important;
  flex-flow: row wrap !important;
  color: black;
  border-radius: 40px 20px;
 

}


@media only screen and (max-width: 320px) {
  .fontTest {
  
    font-size: 10px !important;
    flex: 0 0 100% !important;
    font-weight: 400 !important;
  }

  .welcome {
    margin-top: -5px !important;
  
    
    background-image: url("./comp12.jpg");
    background-size: cover;
  }
  .restrict {
    justify-content: flex-end;
    flex: 0 0 100%;

  }
   .description {
    font-size: 12px;
    font-weight: 500;
   }

}

@media only screen and (min-width: 320px) {
  .fontTest {
    

    font-size: 10px !important;
    flex: 0 0 90% !important;
    font-weight: 400 !important;

  }
  .welcome {
    justify-content: center;
    
    height: 300px;

  }
  .restrict {
    justify-content: center !important;
    flex: 0 0 100%;
  }
  .description {
    font-size: 13px;
       font-weight: 500;
   }
}

@media only screen and (min-width: 548px) {
  .fontTest {

    font-size: 15px !important;
    flex: 0 0 90% !important;
    font-weight: 400 !important;
    justify-content: center;
    
  }
  .welcome {
     justify-content: center;
    margin-top: -5px !important;
    height: 600px;

  }
  .restrict {
    justify-content: center !important;
    flex: 0 0 80%;

  }
   .description {
    font-size: 24px;
       font-weight: 400;
   }
}
@media only screen and (min-width: 1000px) {
  .welcome {

    align-items: center;
  }

  .restrict {
   
    
    flex: 0 0 100%;
  }

  .fontTest {
   
    font-size: 24px !important;
    flex: 0 0 80% !important;
    font-weight: 400 !important;
  }
  .welcome {

    margin-top: -5px !important;
    height: 850px;
  }
}

@media only screen and (min-width: 1400px) {
  .welcome {

    align-items: center;
  }

  .restrict {
   
    
    flex: 0 0 100%;
  }

  .fontTest {
   
    font-size: 24px !important;
    flex: 0 0 80% !important;
    font-weight: 400 !important;
  }
  .welcome {

    margin-top: -5px !important;
    height: 1200px;
  }
}
