.App {
  text-align: center;
  height: 100%;
  margin: 0px;

}



.App-header {
  background-color: #222;
  height: 0px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}



#root {
 
  height: 100%;
  margin: 0px;
}

.desc {
font-family: 'Lato', sans-serif;
font-size: 20px;

}

.desc1 {
font-family: 'Lato', sans-serif;
font-size: 15px;

}

.desc3 {
font-family: 'Lato', sans-serif;
font-size: 25px;

}

.desc4 {



    color: #e0dfdc;
  
    letter-spacing: .5em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 1px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 0px 0 #262626, 
      0 0px 0 #242424, 
      0 0px 0 #222, 
      0 2px 0 #202020, 
      0 0px 0 #1e1e1e, 
      0 1px 0 #1c1c1c, 
      0 1px 0 #1a1a1a, 
      0 0px 0 #181818, 
      0 4px 0 #161616, 
      0 0px 0 #141414, 
      0 0px 0 #121212, 
      0 0px 0px rgba(0, 0, 0, 0.9);
  
      
  

 
  

}


section {

  color:black
}

.nav {
z-index: 9;
position: fixed; 
width: 100%;
top: 0;
float: none;
vertical-align: top;
color: black;
display: inline-block;
width: 100%;
}

.navbar-brand {
     position: fixed;
     background-color: black;
     z-index: 9;
     vertical-align: top;
}

.navbar-nav {
  background-color: black;
  display: inline-block;
 
   top: 0;
  float: none;
  vertical-align: top;
  margin-right: 0px;
  padding-top: 0px;
  width: 100%;

}

li{
  margin-right: 50px;
}

img {
  margin-top: 0px;
  padding-bottom: 0px;
  height: 75%;
  width: 75%;
  box-shadow: 3px 5px black;

}

.mPlayer {

height: 575px;

}

.col-md-6 {


padding: 15px;

  
}


section {
margin-top: 0px;
padding: 0px;
margin: 0px;


    


}




p {
  padding-top: 5px;
}